/* Navbar */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .nav-logo,
  .theme-text {
    display: none;
  }

  .theme-icon {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-links {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  .link-primary {
    margin-right: 1.5rem;
  }
}

.SwiperSlide {
  overflow-y: auto;
}
