/* Navbar */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 4rem;
  }

  .nav-logo,
  .theme-text {
    display: none;
  }

  .theme-icon {
    display: block;
  }
  .navbar-nav {
    flex-direction: row;
  }

  .navbar-links {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  .link-primary {
    margin-right: 1.5rem;
  }
}

.SwiperSlide {
  overflow-y: auto;
}

.swiper-container .swiper-pagination-bullet-active {
  background-color: #fca5a5;
}

@media only screen and (max-width: 600px) {
  div.swiper-button-next,
  div.swiper-button-prev {
    visibility: hidden;
  }
}

@media only screen and (min-width: 601px) {
  div.swiper-button-next,
  div.swiper-button-prev {
    color: #18181b;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0.25rem;
    transform: scale(1);
  }

  div.swiper-button-next:hover,
  div.swiper-button-prev:hover {
    background-color: hsla(0, 0%, 100%, 0.8);
    transform: scale(1.25);
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
  }
}
